@import url("css/header.css");
@import url("css/banner.css");
@import url("css/carrossel.css");
@import url("css/topicos.css");
@import url("css/contato.css");
@import url("css/rodape.css");

:root {
  --background-color: #ebecee;
  --white-color: #ffffff;
  --title-color-orange: #eb9b00;
  --title-gradient-darkblue: linear-gradient(
    97.54deg,
    #002f52 35.49%,
    #326589 165.37%
  );
  --book-text-darkblue: #002f52;
  --black: #000000;
  --gray: #474646;
  --light-gray: #858585;

  --principal-font: "Poppins", sans-serif;
  --fonte-secundaria: "Josefin Sans";
}
body {
  background-color: var(--background-color);
  font-family: var(--principal-font);
  font-size: 1rem;
  font-weight: 400;
}
